
body{
    font-family: "MS 明朝",serif;
    background-image: url(images.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.global-nav {
    font-family: 'Sofia', cursive;
    width: 100%; 
    height: 120px; 
    background: rgba(255, 255, 255, 1.0);  
    padding: 20px 50px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.global-nav h1{
    font-size: 80px;    
}
.global-nav li{
    line-height: 60px;
    width: 100px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
}
.global-nav li img{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgb(228, 228, 228);
    bottom: -20px;
}


main {
    display: flex; /* この要素の内部の表示をフレキシブルに変更可能とする */
    justify-content: center; /* 内部要素を中央揃え */
    align-items: center; /* 内部要素を中央揃え */
    min-height: 100vh; /* 最低高さを画面の高さに揃える(最低限、画面の高さ分は領域が確保される) */
  }
  
  /* モバイルでの表示時にレイアウトを変更する */
  @media screen and (max-width: 896px) {
    main {
      flex-direction: column; /* 横並びを縦並びに変更する */
      padding: 2rem; /* 内側に二文字分の余白を設ける */
    }
  }
  /* class="profile-photo" の中の img */
.profile-photo img {
    display: block; /* 画像自体を箱として表示させる */
    width: 300px; /* 横幅の設定 */
    height: 300px; /* 高さの設定 */
    border-radius: 50%; /* 角丸を縦横のサイズの半分以上の値を指定することで正方形の画像は円にくり抜かれる、99999pxなどでもOK */
  }
  /* モバイルでの表示時にサイズを調整する */
  @media screen and (max-width: 896px) {
    .profile-photo img {
      width: 70vw; /* 横幅の設定を画面横サイズの70% */
      height: 70vw; /* 高さの設定を画面横サイズの70% */
    }
  }
  .profile-text {
    max-width: 600px; /* 最大幅を設定 */
    padding: 2rem; /* 基準文字サイズの2文字分内側に余白を設定 */
    color: black; /* 文字色を設定(任意の文字色に変えて良い) */
  }
  h1 {
    font-size: 4rem; /* 文字サイズを基準サイズの400%とする */
    letter-spacing: 0.1em; /* 字間を0.1文字分開ける */
  }
  
  /* モバイルでの表示時にレイアウトを変更する */
  @media screen and (max-width: 896px) {
    h1 {
      font-size: 13.5vw; /* 文字サイズを画面サイズの13.5％幅とする */
      text-align: center; /* 文字の配置をセンタリングする */
    }
  }
  .social {
    list-style: none; /* リストの・が邪魔なので消します */
    display: flex; /* フレキシブルに */
    margin-top: 1.5rem; /* 上部に1.5文字分の外部余白を設定 */
  }
  /* class="social"の中のli */
.social li {
    line-height: 1; /* 文字高さを1文字分とする */
    padding: 0.5rem;  /* 上下左右に0.5文字分の内部余白をつける */
    font-size: 1.5rem; /* アイコン(文字)のサイズを1.5文字分とする */
  }
  /* class="social"の中のliの中のa */
.social li a {
    text-decoration: none;  /* リンクテキストの装飾をなくす */
    color: black;  /* 文字色変更(任意の文字色に変えて良い) */
    transition: 1s color; /* 文字色が変化する場合、１秒かけて変化させる定義 */
  }
/* class="social"の中のliの中のaにマウスカーソルが乗った時 */
.social li a:hover {
    color: #f00;  /* 文字色を変える(任意の文字色に変えて良い) */
  }

  .profile-photo {
    position: relative; /* 縁取り要素を追加する前に、親コンテナの配置方法を相対配置に変更 */
  }
  .circle1,
  .circle2,
  .circle3 {
    position: absolute; /* 縁取り要素は絶対配置 */
    top: 0; /* .profile-photoの開始位置と揃える */
    width: 100%;
    height: 100%;
    border-radius: 40%; /* 40%の角丸めで歪な形を作成しておく */
    z-index: -1; /* 画像と背景の間に重ねる */
  }
  /* rotationという名前のアニメーションを作成 */
@keyframes rotation {
    from {  /* 開始時点の装飾 */
      transform: rotate(0deg);  /* 変形操作の内、回転0度 */
    }
  
    to {  /* 終了時点の装飾 */
      transform: rotate(360deg); /* 変形操作の内、回転360度 */
    }
  }
  .circle1 {
    opacity: 0.1; /* 透明度 */
    background: #0af; /* 縁取りの色設定 */
    transform-origin: 50% 47%;  /* transformの基準位置を変更 */
    animation: rotation 5s infinite linear; /* rotationアニメーションの秒数と繰り返し、変化を線形に変更 */
  }
  
  .circle2 {
    opacity: 0.3;
    background: #ff0;
    transform-origin: 52% 48%;
    animation: rotation 12s infinite linear;
  }
  
  .circle3 {
    opacity: 0.2;
    background: #fa0;
    transform-origin: 48% 52%;
    animation: rotation 8s infinite linear;
  }

