
body{
    font-family: "MS 明朝",serif;
    background-image: url(images.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.global-nav {
    font-family: 'Sofia', cursive;
    width: 100%; 
    height: 120px; 
    background: rgba(255, 255, 255, 1.0);  
    padding: 20px 50px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.global-nav h1{
    font-size: 80px;    
}
.global-nav li{
    line-height: 60px;
    width: 100px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
}
.global-nav li img{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}
footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(228, 228, 228);
  bottom: -10px;
}
@media screen and (max-width: 800px) {

  .global-nav {
      height: 60px; 
      padding: 10px 20px; 
  }
  .global-nav h1{
      font-size: 40px;    
  }
  .global-nav li{
      line-height: 20px;
      width: 50px;
      font-size: 15px;
  }
  .global-nav li img{
      width: 30px;
      height: 30px;
  }
  .hero-text {
      margin-top: 80px;
      font-size: 60px;
      height: 50px;
  }
}
@media screen and (max-width: 400px) {
  .global-nav li{
      width: 30px;
      font-size: 10px;
  }
  .profile-photo img {
    display: block; 
    width: 50vh;
    height: 50vh;
    border-radius: 50%; 
  }
  .footer {
    bottom: -400px;
  }
}


main {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
  
@media screen and (max-width: 896px) {
  main {
    flex-direction: column;      
    padding: 2rem;
  }
}
.profile-photo img {
  display: block; 
  width: 300px;
  height: 300px;
  border-radius: 50%; 
}

.profile-text {
  max-width: 70%; 
  padding: 2rem; 
  color: black;
}

h1 {
  font-size: 4rem; 
  letter-spacing: 0.1em; 
}

@media screen and (max-width: 896px) {
  h1 {
    font-size: 40px; 
    text-align: center;
  }
}
.social {
  list-style: none;
  display: flex; 
  margin-top: 1.5rem;
}
.social li {
  line-height: 1; 
  padding: 0.5rem;
  font-size: 1.5rem;
}
.social li a {
  text-decoration: none;  
  color: black;  
  transition: 1s color; 
}
.social li a:hover {
  color: #f00; 
}

.profile-photo {
  position: relative;  
}
  .circle1,
  .circle2,
  .circle3 {
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 100%;
    border-radius: 40%;
    z-index: -1; 
}
@keyframes rotation {
  from {  
    transform: rotate(0deg);     
  }
  to { 
    transform: rotate(360deg); 
  }
} 

.circle1 {
  opacity: 0.1;
  background: #0af;
  transform-origin: 50% 47%; 
  animation: rotation 5s infinite linear; 
}
.circle2 {
  opacity: 0.3;
  background: #ff0;
  transform-origin: 52% 48%;
  animation: rotation 12s infinite linear;
}
  
.circle3 {
  opacity: 0.2;
  background: #fa0;
  transform-origin: 48% 52%;
  animation: rotation 8s infinite linear;
}

