.global-nav {
    font-family: 'Sofia', cursive;
    width: 100%; 
    height: 120px; 
    background: rgba(255, 255, 255, 0.651);  
    padding: 20px 50px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.global-nav h1{
    font-size: 80px;
     
}
.global-nav li{
    line-height: 60px;
    width: 100px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
}
body{
    font-family: "MS 明朝",serif;
    background-image: url(../../images.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.hero-text {
    margin-top: 150px;
    width: 100%; 
    height: 100px;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 80px;
}
.gazou {
    margin: auto;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80%;

}
footer {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgb(228, 228, 228);
    bottom: -100%;
}