
body{
    font-family: "arial unicode ms",serif;
    background-image: url(../../images.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.global-nav {
    font-family: 'Sofia', cursive;
    width: 100%; 
    height: 120px; 
    background: rgba(255, 255, 255, 1);  
    padding: 20px 50px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.global-nav h1{
    font-size: 80px;    

}

.global-nav li{
  margin-top: 10px;
    height: 60px;
    width: 100px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
}
.global-nav li img{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

.hero-text {
  margin-top: 200px;
  width: 100%; 
  height: 200x;
  text-align: center;
  font-family: 'Sofia', cursive;
  font-size: 80px;
}

section {
  height: 80vh;
  display: flex;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}

#sec1 {
  background-color: rgba(255, 255, 255, 0.5); 
  font-size: 30px;

} 
#sec1 h1{
  text-align: center;
  font-size:  60px;
  margin-bottom: 50;
}
#sec1 dl{
  font-size: 30px;
  line-height: 1.8em;
}
#sec1 dd{
  text-align: left;
  margin-left: 150px;
}



#sec2 {
  background-color: rgba(203, 255, 255, 0.5); 
  font-size: 30px;
} 
#sec2 h1{
  text-align: center;
  font-size:  60px;
  margin-bottom: 50;
}
#sec2 dl{
  font-size: 30px;
  line-height: 1.8em;
}
#sec2 dd{
  text-align: left;
  margin-left: 200px;
}

#sec3 {
  background-color: rgba(205, 255, 185, 0.5); 
  font-size: 30px;
}
#sec3 h1{
  text-align: center;
  font-size:  60px;
  margin-bottom: 50;
}
#sec3 dl{
  font-size: 30px;
  line-height: 1.8em;
}
#sec3 dd{
  text-align: left;
  margin-left: 100px;
}


main dt{
  float: left;
}



dl{
  text-align: center;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#sec4 {
  background-color: rgb(168, 255, 190);

}

footer {
  margin-block-start: 0em;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(228, 228, 228);
  bottom: -1650px;
}