
body{
    font-family: "MS 明朝",serif;
    background-image: url(../../images.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.global-nav {
    font-family: 'Sofia', cursive;
    width: 100%; 
    height: 120px; 
    background: rgba(255, 255, 255, 0.651);  
    padding: 20px 50px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.global-nav h1{
    font-size: 80px;    
}
.global-nav li{
    line-height: 60px;
    width: 100px;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
}
.hero-text {
    margin-top: 200px;
    width: 100%; 
    height: 100px;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 80px;
}
.work{ 
    margin         : auto;   
    box-sizing     : border-box; 
    width          : 1200px;           
    height     : 1000px;                
}
.work-main div{
    display        : flex;               
    justify-content: center;               
    flex-wrap : wrap;   
}
.work-item{
    margin-top: 50px;
    width: 20em;height: 15em; 
    padding: 0.5%;
    padding-bottom: 10px;
}
.work-item a{
    color: black;
}
.work-icon{
    padding: 0px;
}
img.png{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
footer {
    position: absolute;
    width: 110%;
    text-align: center;
    background-color: rgb(228, 228, 228);
    bottom: -100%;
}



/* ここからjs */
/* １ */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner img {
    width: 100%;
}
.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn i {
    font-size: 20px;
    color: black;
}
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}

/* ２ */
.popup2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup2.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner2 img {
    width: 100%;
}
.close-btn2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn2 i {
    font-size: 20px;
    color: black;
}
.black-background2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}

/* ３ */
.popup3 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup3.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner3 img {
    width: 100%;
}
.close-btn3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn3 i {
    font-size: 20px;
    color: black;
}
.black-background3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}

/* ４ */
.popup4 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup4.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner4 img {
    width: 100%;
}
.close-btn4 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn4 i {
    font-size: 20px;
    color: black;
}
.black-background4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}
  
/* ５ */
.popup5 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup5.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner5 img {
    width: 100%;
}
.close-btn5 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn5 i {
    font-size: 20px;
    color: black;
}
.black-background5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}
  
/* ６ */
.popup6 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup6.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner6 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner6 img {
    width: 100%;
}
.close-btn6 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn6 i {
    font-size: 20px;
    color: black;
}
.black-background6 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}
  
/* ７ */
.popup7 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup7.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner7 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner7 img {
    width: 100%;
}
.close-btn7 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn7 i {
    font-size: 20px;
    color: black;
}
.black-background7 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}
  
/* ８ */
.popup8 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup8.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner8 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner8 img {
    width: 100%;
}
.close-btn8 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn8 i {
    font-size: 20px;
    color: black;
}
.black-background8 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}

/* 9 */
.popup9 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .10s;
}
.popup9.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner9 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: rgb(138, 255, 42);
    border-radius: 10px;
    z-index: 2;
}
.popup-inner9 img {
    width: 100%;
}
.close-btn9 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn9 i {
    font-size: 20px;
    color: black;
}
.black-background9 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    cursor: pointer;
}

  
  
  